{% load static %}
<html>
    <head>
        <title>컴공</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <style>
                table {
                    border:0px;
                    width:100%; 
                    }
                tr:nth-child(even){background-color: #f2f2f2 }
                th {
                    background-color: skyblue;
                    color: white;
                    }
            </style> 
    </head>
    <body>
            <div class="page-header">
                <center><h1><a href="{% url 'community:main' %}">컴퓨터공학과 커뮤니티</a></h1></center>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>